<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/style.css">
    <title>Bhanu Gupta</title>
</head>

<body>

    <div class="container">
        <div class="container-left">
            <img src="static/images/Bhanu.jpg" width="280px" height="280">
            <ul class="btn">
                <li data-li="about" class="active">
                    <button>About</button>
                    <!-- <p>About</p> -->
                </li>
                <li data-li="resume">
                    <button>Resume</button>
                    <!-- <p>Resume</p> -->
                </li>
                <li data-li="portfolio">
                    <button>Portfolio</button>
                    <!-- <p>Portfolio</p> -->
                </li>
                <li data-li="contact">
                    <button>Contact</button>
                    <!-- <p>Contact</p> -->
                </li>
            </ul>
            <div class="icon">
                <div class="facebook">
                    <a href="https://www.facebook.com/bhanu.gupta.102"><i class="fab fa-facebook"></i></a>
                </div>
                <div class="github">
                    <a href="https://github.com/Bhanu9650"><i class="fab fa-github"></i></a>
                </div>
                <div class="stackoverflow">
                    <a href="https://stackoverflow.com/users/8572034/bhanu-gupta"><i
                            class="fab fa-stack-overflow"></i></a>
                </div>
                <div class="linkedIn">
                    <a href="https://www.linkedin.com/in/bhanu-gupta-47896216b/"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="container-right">
            <div class="item about">
                <div class="item_info">
                    WHO AM I
                    <hr>
                </div>
                <div class="title">
                    <div class="name">
                        <strong>Bhanu Gupta</strong>
                    </div>
                    <div class="designation">
                        <strong>Full Stack Developer</strong>
                    </div>
                    <p>
                        Full stack developer with over 6 years of experience in developing user-friendly mid to large
                        scale web-based applications in Ruby and Ruby on Rails using TDD approach.
                    </p>
                    <p>
                        I have worked with multiple clients across the globe filling positions such as tech-lead, senior
                        developer, senior consultant, project manager and frontend UX engineer.
                    </p>
                    <p>
                        Well versed with Continuous Integration (CI), DevOps and Agile development process. I strongly
                        believe in concept “less is more” following best code practices to create modular, scalable,
                        maintainable and manageable applications.
                    </p>
                    <p>
                        <strong>Skills/Talents Overview:</strong>
                    <ul style="list-style: disc; margin-left: 50px;">
                        <li>Ruby on Rails development & consultancy of mid to large size projects</li>
                        <li>Test driven development using Rspec</li>
                        <li>HTML, Slim, Haml</li>
                        <li>CSS, SASS, SCSS</li>
                        <li>JavaScript, jQuery, Build tools such as webpack</li>
                        <li> DevOps with Ansible, Docker, Capistrano, AWS, Heroku</li>
                        <li>Project management</li>
                        <li>Focussed on UI/UX design</li>
                        <li>WordPress solution provider and expertise in theme customisation according to the business
                            requirements.</li>
                        <li>Creating an online brand presence with digital marketing.</li>
                        <li>Project management.</li>
                    </ul>
                    <p>Independent, quick learner and an excellent communicator is how my wide client network describe
                        me.</p>
                    <br>
                    <table style="width: 100%;">
                        <tr style="width: 50%; height: 20%;">
                            <th>Email</th>
                            <th>bhanugupta.im@gmail.com</th>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <th>India</th>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <div class="footer">
                        <div class="cv">
                            <button class="btn"><i class="fas fa-arrow-alt-circle-down"></i><span
                                    style="margin-left: 5px;">Download My Resume </span></button>
                        </div>
                        <div class="work">
                            <button class="btn">
                                <i class="fas fa-briefcase"></i>
                                <span style="margin-left: 20px;">
                                    Work with me
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Resume Page Start -->
            <div class="item resume" style="display: none;">
                <div class="item_info">
                    Professional Skills
                    <hr>
                </div>
                <div class="title">
                    <br>
                    <div class="skill">
                        <strong>Python3</strong>
                        <progress id="file" value="65" max="100" style="width: 600px; height: 40px;"></progress>
                        <br>
                        <strong>Flask / Django</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <br>
                        <br>
                        <br>
                        <strong>HTML / CSS</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <strong>JavaScript</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <strong>React</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <br>
                        <br>
                        <br>
                        <strong>Github</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <strong>Docker</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                        <strong>AWS EC2</strong>
                        <progress id="file" value="85" max="100" style="width: 600px; height: 40px;"> 80% </progress>
                    </div>
                </div>

            </div>






            <div class="item portfolio" style="display: none;">
                
            </div>
            <div class="item contact" style="display: none;">
                
            </div>
        </div>
    </div>

    <script src="static/js/script.js"></script>
</body>

</html>